name: Quality Checks

on:
  pull_request:
    branches: [main]

jobs:
  check:
    name: Rust Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Check Rust code
        run: cd markdown-renderer && cargo check
      - name: Run Clippy
        run: cd markdown-renderer && cargo clippy -- -D warnings
      - name: Run Tests
        run: cd markdown-renderer && cargo test --features sanitize
  biome:
    name: Run BiomeJS
    runs-on: ubuntu-latest
    needs: check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Cache wasm-pack
        id: cache-wasm-pack
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/wasm-pack
          key: wasm-pack-${{ runner.os }}
      - name: Install wasm-pack
        if: steps.cache-wasm-pack.outputs.cache-hit != 'true'
        run: cargo install wasm-pack
      - name: Build Rust project
        run: cd markdown-renderer && wasm-pack build --target web --release
      - name: Set up Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Run Biome Check
        run: bun run check
