name: Deploy Example to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache wasm-pack
        id: cache-wasm-pack
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/wasm-pack
          key: wasm-pack-${{ runner.os }}

      - name: Install wasm-pack
        if: steps.cache-wasm-pack.outputs.cache-hit != 'true'
        run: cargo install wasm-pack

      - name: Build Rust project
        run: cd markdown-renderer && wasm-pack build --target web --features sanitize

      - name: Post-process wasm package
        run: bun process_wasm_pkg.js

      - name: Install dependencies (workspace)
        run: bun install

      - name: Build library
        run: bun run build

      - name: Install example dependencies
        run: cd example && bun install

      - name: Build example
        run: cd example && bun run build

      - name: Deploy to GitHub Pages
        uses: jamesives/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: example/dist
